<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NationalInstruments.Common" publicKeyToken="dc6ad606294fc298" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-19.1.40.49152" newVersion="19.1.40.49152" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NationalInstruments.ModularInstruments.Common" publicKeyToken="4febd62461bf11a4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-21.5.45.49233" newVersion="21.5.45.49233" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>